.mdui-theme-layout-light,
.mdui-theme-layout-dark,
.mdui-theme-layout-auto {
    --dialog-ac-btn-bg: #2196f3;
    --dialog-ac-btn-cr: #fff;
}

.mdui-theme-layout-light,
.mdui-theme-layout-auto {
    --nav-background: #f5f5f5;
    --background: #fff;
    --accent-color: #448aff;
    --card-bg: rgba(0 0 0 / .06);
    --card-hover-bg: rgba(0 0 0 / .06);
    --dialog-bg: #fff;
    --dialog-btn-bg: rgba(0 0 0 / .05);
    --dialog-btn-cr: #333;
    --exam-it-hover-bg: rgba(0 0 0 / .1);
    --auth-input: rgba(0 0 0 / .2);
    --font-color: #000;
    --glass-bg: rgba(255 255 255 / .6);
}

.mdui-theme-layout-dark {
    --nav-background: #0e0e0e;
    --background: #000;
    --accent-color: #448affbb;
    --card-bg: rgba(255 255 255 / .08);
    --card-hover-bg: rgba(255 255 255 / .12);
    --dialog-bg: #333;
    --dialog-btn-bg: rgba(255 255 255 / .05);
    --dialog-btn-cr: #eee;
    --exam-it-hover-bg: rgba(255 255 255 / .1);
    --auth-input: rgba(255 255 255 / .2);
    --font-color: #fff;
    --glass-bg: rgba(0 0 0 / .5);
}


.mdui-theme-layout-dark .navigator-container::after {
    filter: invert();
}

@media (prefers-color-scheme: dark) {
    .mdui-theme-layout-auto {
        --nav-background: #0e0e0e;
        --background: #000;
        --accent-color: #448affbb;
        --card-bg: rgba(255 255 255 / .08);
        --card-hover-bg: rgba(255 255 255 / .12);
        --dialog-bg: #333;
        --dialog-btn-bg: rgba(255 255 255 / .05);
        --dialog-btn-cr: #eee;
        --exam-it-hover-bg: rgba(255 255 255 / .1);
        --auth-input: rgba(255 255 255 / .2);
        --font-color: #fff;
        --glass-bg: rgba(0 0 0 / .5);
    }

    .mdui-theme-layout-auto .navigator-container::after {
        filter: invert();
    }
}



@media screen and (max-width:320px) {
    :root {
        --column: 1;
    }
}

@media screen and (min-width:320px) {
    :root {
        --column: 2;
    }
}

@media screen and (max-width:640px) {
    :root {
        --home-width: 100%;
        --subpage-width: 100%;
    }

    .subpage-container header {
        width: var(--subpage-width);
        left: 0;
    }

    .page-container {
        width: var(--subpage-width);
        min-height: 100%;
        margin-left: 0;

    }

    .page-container>.sub-container,
    .page-container [page] {
        width: 100%;
        min-height: 100%;
    }
}

@media screen and (min-width:640px) {
    :root {
        --home-width: min(max(40%, 320px), 560px);
        --subpage-width: calc(100% - var(--home-width) - 1px);
        --sidebar-width: 64px; 
    }

    .subpage-container header {
        width: var(--subpage-width);
        left: calc(var(--home-width) + 1px);
    }

    .subpage-container {
        width: var(--subpage-width);
        margin-left: calc(100% - var(--subpage-width));
    }

    .navigator-container::after {
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: var(--home-width);
        height: 100%;
        width: calc(100% - var(--home-width));
        background: url(../src/icon_front.svg) rgba(0 0 0 / .25) no-repeat center;
        border-left: solid 1px rgb(0 0 0);
        background-size: 256px;
        opacity: .15;
        box-shadow: inset 2px 0px 10px 0px rgb(0 0 0 / 50%);
    }

    .navigator-container {
        width: calc(var(--home-width) - var(--sidebar-width)) !important;
        margin-left: var(--sidebar-width);
    }

    .navigator-container header {
        padding-left: var(--sidebar-width);
        width: calc(var(--home-width) - var(--sidebar-width)) !important;
    }

    .navigator-container footer {
        flex-direction: column;
        width: var(--sidebar-width) !important;
        height: 100%;
    }

    .navigator-container footer>a {
        width: var(--sidebar-width);
        box-sizing: border-box;
        flex: 0 1 auto;
    }


    .navigator-container footer::before {
        flex: 0 1 auto;
        height: calc(var(--sidebar-width) * 1.5);
    }
}

@media screen and (min-width:1080px){
    :root{
        --sidebar-width: 72px !important;
    }
}

@media screen and (min-width:960px) {
    :root {
        --column: 3;
    }
}

:root {
    --status-bar: 0px;
    --navigation-bar: 0px;
}

.full-container {
    z-index: 3;
}

.navigator-container {
    z-index: 1;
}

.subpage-container {
    z-index: 2;
}

@media screen and (max-width:560px) {
    .mdui-dialog {
        border-radius: 24px 24px 0 0 !important;
        width: 100%;
        position: fixed;
        bottom: 0;
        top: unset !important;
    }
}

@keyframes flowin {
    0% {
        transform: translate(100%, 0);
        clip-path: inset(0 100% 0 -100%);
    }

    100% {
        transform: translate(0%, 0);
        clip-path: inset(0 0% 0 0%);
    }
}

@keyframes page-flow-in {
    0% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}

@keyframes header-flow-in {
    0% {
        left: 100%;
    }

    100% {
        left: calc(100% - var(--subpage-width));
    }
}

@keyframes page-flow-out {
    0% {
        display: flex !important;
        left: 0;
    }

    100% {
        display: flex !important;
        left: 100%;
    }
}

@keyframes header-flow-out {
    0% {
        display: flex !important;
        left: calc(100% - var(--subpage-width));
    }

    100% {
        display: flex !important;
        left: 100%;
    }
}


.navigator-container {
    width: var(--home-width);
}

.navigator-container>header,
.navigator-container>footer {
    width: var(--home-width);
    left: 0;
    right: auto;
    margin-left: 0;
    z-index: 4;
    box-sizing: content-box;
}

html {
    background: var(--background);
}

body {
    overflow-y: auto !important;
}

.mdui-appbar {
    padding-top: var(--status-bar);
    box-sizing: content-box;
}

.mdui-headroom-unpinned-toolbar {
    padding-top: 0px;
    transition: .3s ease-out !important;
}

.mdui-headroom-pinned-toolbar {
    transition: .3s ease-in !important;
}

.mdui-headroom-unpinned-toolbar>.mdui-tab {
    padding-top: var(--status-bar);
    transition: .3s ease-out;
}

.mdui-headroom-pinned-toolbar>.mdui-tab {
    padding-top: 0;
    transition: .3s ease-in;
}

.mdui-bottom-nav {
    padding-bottom: var(--navigation-bar);
    background: var(--nav-background);
}

.mdui-fab.mdui-ripple.mdui-fab-fixed {
    margin-bottom: var(--navigation-bar);
}

[page=login] {
    padding: 64px 24px 0 !important;
    z-index: 2;
    max-width: 640px;
    transform: translate(-50%, 0);
    pointer-events: auto;
    left: 50%;
    width: 100%;
    box-shadow: none !important;
    overflow: auto;
    height: 100%;
    /* justify-content: center; */
}

.page-container.full-container {
    width: 100%;
    height: 100%;
    z-index: 3;
}

.full-container::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--background);
    z-index: -1;
    top: 0;
    transform: translate(-50%, 0);
    left: 50%;
    pointer-events: all;
}

.mdui-dialog {
    border-radius: 24px;
    box-shadow: none;
    background: var(--dialog-bg) !important;
}

.mdui-dialog-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    padding-bottom: calc(4px + var(--navigation-bar));
}

.mdui-snackbar.mdui-snackbar-bottom {
    margin-bottom: var(--navigation-bar);
}

.mdui-dialog-actions .mdui-btn {
    flex: 1;
    background: var(--dialog-btn-bg);
    margin: 0 4px 12px !important;
    height: 48px;
    border-radius: 24px;
    line-height: 48px !important;
    text-align: center;
    color: var(--dialog-btn-cr) !important;
}

.mdui-dialog-actions .mdui-btn-bold {
    background: var(--dialog-ac-btn-bg) !important;
    color: var(--dialog-ac-btn-cr) !important;
    font-weight: normal;
}

.mdui-dialog-actions.mdui-dialog-actions-stacked {
    flex-direction: column;
}

.user-avatar {
    background-color: #bdbdbd;
    border-radius: 50%;
    min-width: 64px;
    max-width: 64px;
    margin-bottom: 24px;
}

.score-card {
    text-align: center;
    padding: 36px;
    background: t;
    background-color: transparent !important;
}

.my-score {
    font-size: 42px;
}

.full-score {
    font-size: 24px;
}

.score-divider {
    font-size: 60px;
    font-weight: 300;
}

.score-card .name {
    font-size: 16px;
    text-align: center;
}

.score-card div {
    text-align: center;
}

.answer-card .mdui-card-media-covered {
    height: 100%;
}

.full-img-viewer {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    position: fixed;
    z-index: 5;
    left: 0px;
    top: 0px;
}

label.bind-input {
    display: block;
    transform: scale(1) translateY(27px);
    line-height: 18px;
    font-size: 16px;
    color: #000000;
}

input.bind-input {
    width: calc(100% - 56px);
    margin-left: 56px;
}

label.bind-select {
    transform: scale(1) translateY(27px);
    line-height: 18px;
    font-size: 16px;
    color: #000000;
    margin-right: 20px;
}

.subject-table-cards {
    overflow-x: auto;
}

.subject-grade-table .mdui-color-theme-accent * {
    color: white !important;
}

.main-container {
    display: none;
}

.page-loading-pgs {
    width: 128px;
    height: 128px;
    position: absolute;
    top: calc(50% - 64px);
    left: calc(50% - 64px);
}

.page-loading {
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    /* background: #FFF; */
    position: fixed;
    top: 0;
    left: 0;
}

.page-loading-appname {
    position: absolute;
    top: calc(56% + 128px);
    left: 50%;
    transform: translate(-50%, 0px);
    font-size: 22px;
}

.page-loading-version {
    font-size: 20px;
    position: absolute;
    top: calc(50% + 228px);
    left: 50%;
    transform: translate(-50%, 0px);
}

.authcode {
    display: grid;
    grid-template-columns: 1fr repeat(4, 48px) 1fr;
    grid-template-rows: repeat(3, 56px);
    grid-template-areas:
        ". a b c d ."
        ". e e e e ."
        ". f . . . .";
    gap: 16px;
    margin: 24px 0;
    height: 56px;
    /* overflow: hidden; */
    padding: 6px;
}

.authcode>span {
    border: solid 2px var(--auth-input);
    border-radius: 8px;
    font-size: 36px;
    text-align: center;
    color: #333;
}

.authcode>input {
    grid-column-end: e-end;
    grid-column-start: e-start;
    position: relative;
    top: calc(-100% - 16px);
    z-index: -1;
    text-align: left;
    text-indent: 13px;
    overflow: hidden;
    letter-spacing: 44px;
    border: none;
    font-size: 36px;
    -webkit-appearance: textfield;
    appearance: textfield;
    outline: none;
    background: transparent;
    z-index: -2;
    margin-right: -33px;
    color: var(--font-color);
}

.authcode>span.focus {
    border-color: transparent;
    outline: solid 1.5px var(--accent-color);
    box-shadow: 0 0 12px var(--accent-color);
    width: 48px;
    grid-column-start: f-start;
    position: relative;
    top: calc(-200% - 32px);
    box-sizing: border-box;
    border: solid 1px var(--accent-color);
    transition: .5s;
}

.authcode>span::before,
.authcode>span:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.authcode>span:after {
    border: solid 10px var(--dialog-bg);
    box-sizing: border-box;
    transform: translateY(-100%);
}

.authcode>span::before {
    border-right: solid 20px var(--dialog-bg);
    position: relative;
    margin: 0;
    z-index: -1;
}

.authcode>span.focus::before,
.authcode>span.focus::after {
    display: none;
}

.authcode>span:nth-child(5):before {
    border-right-width: 36px;
}

.authdevices {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

[template] {
    display: none;
}

.student-space-card {
    border-radius: 12px;
    background: var(--card-bg);
    overflow: auto;
}

.student-space-card:active,
.student-space-card:hover {
    background: var(--card-hover-bg);
}

#examList>li:active,
#examList>li:hover {
    background: var(--exam-it-hover-bg);
}

#examList>li {
    position: relative;
    padding: 0 24px;
    clip-path: inset(0 0% 0 0%);
}

.exam-insert {
    animation: 1s flowin .2s;
}

.exam-insert::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    background: rgba(0 0 0 / .1);
    transform: translate(-100%, 0);
}

.exam-new {
    border-left: solid 4px var(--accent-color);
}

.exam-item .mdui-list-item-icon {
    min-width: 4rem;
    margin: 0 12px !important;
    text-align: center;
    flex: 0 auto;
}

.glass {
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    box-shadow: none;
    text-align: center;
    background-color: var(--glass-bg);
}

.page-container [page] {
    display: none;
    position: absolute;
    /* min-height: 100%; */
    background-color: var(--background);
    padding: calc(64px + var(--status-bar)) 0 calc(24px + var(--navigation-bar));
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden overlay;
}

.page-container [page=exam] {
    padding-top: 128px;
}

.app-show {
    display: flex !important;
    flex-direction: column;
    box-shadow: -10px 0px 20px rgb(0 0 0 / 10%);
}

.subpage-container>.app-show>header {
    animation: .5s ease-in header-flow-in;
}

.subpage-container>.app-show {
    animation: .5s ease-in page-flow-in;
}

.subpage-container>.app-hide>header {
    animation: .3s ease-in header-flow-out;
}

.subpage-container>.app-hide {
    animation: .3s ease-in page-flow-out;
}

table.subject-grade tr *,
.objective-table tr *,
.subjective-table tr * {
    text-align: center;
    white-space: nowrap;
    width: min-content;
    border: none;
}

.score-summary:hover,
.subject-grade:hover,
.subject-question:hover,
.score-summary:active,
.subject-grade:active,
.subject-question:active {
    background: rgba(0 0 0 / .06);
}

table>caption {

    opacity: .8;
    text-align: center !important;
    width: 100%;
    padding: 12px 0;
    font-size: 14px;
    font-weight: bold;
}

.no-unclaim-exam {
    text-align: center;
}

.important-notice {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 1002;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.student-space-table {
    display: grid;
}

.student-space-table>div {
    display: grid;
    grid-gap: 8px;
}

.student-space-table>div>div {
    padding: 12px 0 12px 24px;
    line-height: 32px;
    word-break: keep-all;
    width: max-content;
}

.student-space-table>div:hover {
    background: rgba(0 0 0 /.06);
}

.score-summary-table>div:hover {
    background: rgba(0 0 0 /.06) !important;
}

.student-space-table>div:last-child {
    grid-template-columns: 1fr [btn] minmax(64px, auto) 1fr !important;
    padding: 0 0 8px;
}

.student-space-table>div:first-child:hover,
.student-space-table>div:last-child:hover {
    background: transparent;
}

.student-space-table>div:first-child,
.student-space-table>div:last-child {
    font-weight: bold;
}

.score-summary-table {
    display: grid;
    grid-template-columns: repeat(var(--column), 1fr);
}

.score-summary-table>div {
    display: flex;
    justify-content: space-between;
    padding: 8px 20px !important;
    font-weight: normal !important;
    flex: 1;
}

.expand-table {
    grid-area: btn;
}

.subject-grade-table>div {
    grid-template-columns: 64px repeat(2, minmax(120px, 1fr)) repeat(2, minmax(100px, .8fr));
}

.subject-question>div {
    grid-template-columns: repeat(4, 1fr);
}

.score-summary-table>div>div {
    padding: 0;
}

.rank-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 720px;
    margin: auto;
}

.rank-info>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 24px;
}

.rank-info>div>span:last-child {
    font-size: 14px;
}

.rank-info[union="false"] {
    grid-template-columns: repeat(2, 1fr);
}

.rank-info[union="false"]>div:first-child {
    display: none;
}

#examList {
    display: grid !important;
    grid-gap: 0;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
}

.sub-container {
    width: 100%;
}

.subject-card {
    display: grid;
    grid-gap: 16px;
}

.subject-analysis {
    text-align: center;
    position: relative;
}

.subject-analysis>canvas {
    max-width: 480px;
    width: 100%;
}

.download-answer-card,
.download-radar {
    display: block;
    position: absolute;
    right: 16px;
    bottom: 16px;
    color: #666;
}

/* .score-summary[expanded=false] {
    height: 52px;
    overflow: hidden;
}

.score-summary[expanded=false]>.score-summary-table {
    transform: translateY(calc(-100% + 52px));
    transition: ease-in-out 1s;
}

.score-summary[expanded="true"] {
    height: calc(48px * var(--count) + 52px);
    overflow: auto;
    ! height: 52px;
} */

.score-summary,
.score-summary-table {
    transition: ease-in-out 1s;
}

.login-sms {
    font-size: 16px;
}

[type="node"] {
    display: none;
}

[great="true"]>div:first-child::after {
    content: "ä¼˜";
    background: rgba(255 140 155 / 1);
    display: inline-block;
    width: 20px;
    border-radius: 50%;
    color: white;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    margin: 3px 0 0;
    scale: 0.7;
}

[page="profile"] .userBasicInfo {
    display: flex;
    width: 100%;
    height: 148px;
    background: var(--accent-color);
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

[page="profile"] .userBasicInfo::before {
    content: "";
    background: var(--accent-color);
    display: block;
    width: 100%;
    height: calc(64px + var(--status-bar));
    position: absolute;
    top: 0px;
    transform:
        translateY(-100%);
}

[page="profile"] .userBasicInfo>.mdui-list-item-avatar {
    min-width: 64px;
    height: 64px;
}

.page-container {
    position: absolute;
    max-height: 100%;
    height: 100%;
    overflow: hidden overlay;
    box-sizing: border-box;
    pointer-events: none;
}

.page-container>* {
    pointer-events: auto;
}

.exam-end {
    display: none;
}

.no-claim-exam {
    display: none !important;
}

.exam-end+.no-claim-exam {
    display: block !important;
}

.daynight-auto[data="true"]+li {
    display: none;
}