html {
    background-color: #000;
    height: 100%;
    width: 100%;
}

* {
    color: #fff;
    font-size: 1.1em;
    line-height: 2.2rem;
}

body {
    width: 100%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.auth {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 130%;
    text-align: center;
}

.note {
    color: #ddd;
    font-size: 80%;
    text-align: center;
}

.auth-code {
    font-size: 160%;
    text-align: center;
}

.auth-code>span {
    color: #ff5252;
    padding: 0 6px;
}

.expir-note {
    font-size: 80%;
    text-align: center;
    color: #ddd;
}

.expir-time {
    font-style: normal;
}

.loadding {
    width: 48px;
    height: 48px;
    margin: 8px auto;
    border: solid #aaa 4px;
    border-radius: 50%;
    border-left-color: #fff;
    animation: spin linear 1.5s infinite;
}