html {
    background-color: #000;
    height: 100%;
    width: 100%;
}

* {
    color: #fff;
    font-size: 1.04em;
    user-select: none;
}

body {
    width: 100%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin: 0;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes border {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.loadding {
    width: 48px;
    height: 48px;
    margin: 8px auto;
    border: solid #aaa 4px;
    border-radius: 50%;
    border-left-color: #fff;
    animation: spin linear 1.5s infinite;
}

.app,
.page {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.user-info {
    flex-direction: column;
}

.welcome {
    padding: 6px 0;
    font-size: 120%;
}

.user-info {
    justify-content: center;

}

.view {
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.app {
    flex-direction: column;
    pointer-events: auto;
    /* transition: 1s; */
}

.page {
    overflow: hidden;
}

.avatar {
    width: 80px;
    height: 80px;
    border: solid 4px #fff;
    border-radius: 50%;
    flex: 0 0 auto;
}

.unclaim-info {
    font-size: 75%;
}


.view:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    box-shadow: inset 0px 0px 16px 20px #000;
    top: 0;
    /*! border: solid #000 12px; */
    box-sizing: border-box;
    left: 0;
}

.view.topest::before,
.view.bottomest::before,
.view.leftest::before,
.view.rightest::before {
    content: "";
    position: fixed;
    display: block;
    border-radius: 50%;
    z-index: 1;
    animation: border 1 .2s linear;
    box-shadow: 0 0px 24px 12px rgba(255 255 255 / .6);
}

.view.topest::before,
.view.bottomest::before {
    width: 100%;
    height: 32px;
    left: 0;
}

.view.topest::before {
    top: -32px;
}

.view.bottomest::before {
    bottom: -32px;
}

.view.leftest::before,
.view.rightest::before {
    height: 100%;
    width: 32px;
    top: 0;
}

.view.leftest::before {
    left: -32px;
}

.view.rightest::before {
    right: -32px;
}

.page-container>div {
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    padding: 12px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.page-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}


.exam-base>.type {
    font-size: 75%;
    background: #ff5252;
    padding: 3px 4px;
    display: inline-block;
    border-radius: 4px;
    height: fit-content;
    line-height: 1em;
    font-weight: bold;
    margin: 3px 6px 3px 0;
}

.exam-base,
.exam-name {
    font-size: 100%;
    text-align: left;
    line-height: 150%;
    word-break: break-all;
    width: 100%;
}

.common-button,
.circle-button {
    background-color: rgba(255 255 255 / .1);
    transition: .2s;
    border: none;
    font-size: 80%;
}


.common-button {
    padding: 8px 16px;
    border-radius: 5px;
}

.circle-button {
    background-image: url(/src/arrow_right.png);
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    text-indent: -10000px;
    margin-bottom: 16px;
    background-position: 60% center;
    background-size: 70%;
    text-decoration: none;
}


.circle-button::after {
    content: attr(title);
    font-size: 70%;
    display: block;
    width: max-content;
    position: relative;
    left: 50%;
    transform: translate(-50%, 130%);
    text-indent: 0;
}

.exam-detail::after {
    transform: translate(-50%, 140%);
}

.common-button:focus-visible,
.circle-button:focus-visible,
.common-button:active,
.circle-button:active {
    background-color: rgba(255 255 255 / .2);
}

.exam-score {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    font-size: 200%;
    color: #ff5252;
}

.exam-note>.note-icon {
    width: 50%;
    height: 50%;
    background: url(/src/bell.png) center no-repeat;
    background-size: 80%;
    transform: rotate(20deg);
    margin: 12px;
}

.exam-note>.note {
    font-size: 90%;
    width: 80%;
    color: #eaeaea;
}

.exam-time,
.student-code {
    font-size: 75%;
    text-align: left;
    width: 100%;
    padding: 2px 0;
    text-indent: -2.4em;
}

.spacing {
    flex: 1 auto;
}

.exam-time:before,
.student-code:before {
    content: "";
    display: inline-block;
    position: relative;
    width: 2.6em;
    height: 1.5em;
    background: rgba(255 255 255 / .2);
    transform: translate(100%, 0);
    top: 0.4em;
    left: -0.3em;
    border-radius: 3px;
}

.confirm {
    background-image: url(/src/check.png);
    background-position: center;
}